body, div, h1, ul, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Input Sans Narrow, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  /* Light theme */
  color: #4f5b66;
  background-color: #f8f8f8;
  /* Dark theme
  color: #2b303b;
  background-color: #c0c5ce;
  */
}

#container {
  width: 1200px;
  margin: 100px auto;
}

.panel {
  margin: 10px;
  float: left;
}

#controls {
  width: 220px;
}

#editor {
  width: 460px;
  height: 100%;
}

#repl {
  width: 460px;
  line-height: 1.6;
}

h1 {
  font-weight: normal;
  font-size: 36px;
  letter-spacing: -1px;
}

ul {
  list-style: none;
  font-size: 12px;
  line-height: 1.6;
  margin: 18px 0;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
